<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconStartColor</key>
		<integer>-615917313</integer>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
	</dict>
	<key>WFWorkflowClientVersion</key>
	<string>4610</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>24019B7B-4D62-44BC-A0B3-7F6416D82FAB</string>
				<key>WFTextActionText</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefrommenu</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFMenuItems</key>
				<array>
					<string>Punto azul</string>
					<string>Punto rojo</string>
					<string>Evento</string>
				</array>
				<key>GroupingIdentifier</key>
				<string>7A176DF4-4ED9-4CA5-99EA-29FE4CD0A513</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefrommenu</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFMenuItemTitle</key>
				<string>Punto azul</string>
				<key>GroupingIdentifier</key>
				<string>7A176DF4-4ED9-4CA5-99EA-29FE4CD0A513</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.downloadurl</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFHTTPHeaders</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>Content-Type</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>application/json</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
				<key>ShowHeaders</key>
				<true/>
				<key>UUID</key>
				<string>C5B4059D-BF02-4616-8A09-674737BC73A6</string>
				<key>WFURL</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>string</key>
						<string>https://app.padelaso.com/api/score?token=￼</string>
						<key>attachmentsByRange</key>
						<dict>
							<key>{41, 1}</key>
							<dict>
								<key>OutputUUID</key>
								<string>24019B7B-4D62-44BC-A0B3-7F6416D82FAB</string>
								<key>Type</key>
								<string>ActionOutput</string>
								<key>OutputName</key>
								<string>Text</string>
							</dict>
						</dict>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFJSONValues</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>team</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFItemType</key>
								<integer>3</integer>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>1</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
				<key>WFHTTPMethod</key>
				<string>POST</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getvalueforkey</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputUUID</key>
						<string>C5B4059D-BF02-4616-8A09-674737BC73A6</string>
						<key>Type</key>
						<string>ActionOutput</string>
						<key>OutputName</key>
						<string>Contents of URL</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>UUID</key>
				<string>C43B5634-A499-4134-8561-C824F9ABC75E</string>
				<key>WFDictionaryKey</key>
				<string>spoken</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.showresult</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Text</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>string</key>
						<string>￼</string>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputUUID</key>
								<string>C43B5634-A499-4134-8561-C824F9ABC75E</string>
								<key>Type</key>
								<string>ActionOutput</string>
								<key>OutputName</key>
								<string>Dictionary Value</string>
							</dict>
						</dict>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefrommenu</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFMenuItemTitle</key>
				<string>Punto rojo</string>
				<key>GroupingIdentifier</key>
				<string>7A176DF4-4ED9-4CA5-99EA-29FE4CD0A513</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.downloadurl</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFHTTPHeaders</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>Content-Type</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>application/json</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
				<key>ShowHeaders</key>
				<true/>
				<key>UUID</key>
				<string>59CBFCEC-6933-4AC2-8BFB-815EAE292809</string>
				<key>WFURL</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>string</key>
						<string>https://app.padelaso.com/api/score?token=￼</string>
						<key>attachmentsByRange</key>
						<dict>
							<key>{41, 1}</key>
							<dict>
								<key>OutputUUID</key>
								<string>24019B7B-4D62-44BC-A0B3-7F6416D82FAB</string>
								<key>Type</key>
								<string>ActionOutput</string>
								<key>OutputName</key>
								<string>Text</string>
							</dict>
						</dict>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFJSONValues</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>team</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFItemType</key>
								<integer>3</integer>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>2</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
				<key>WFHTTPMethod</key>
				<string>POST</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getvalueforkey</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputUUID</key>
						<string>59CBFCEC-6933-4AC2-8BFB-815EAE292809</string>
						<key>Type</key>
						<string>ActionOutput</string>
						<key>OutputName</key>
						<string>Contents of URL</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>UUID</key>
				<string>E977F266-5F58-44C0-A89B-09C6A944AF5C</string>
				<key>WFDictionaryKey</key>
				<string>spoken</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.showresult</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>Text</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>string</key>
						<string>￼</string>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputUUID</key>
								<string>E977F266-5F58-44C0-A89B-09C6A944AF5C</string>
								<key>Type</key>
								<string>ActionOutput</string>
								<key>OutputName</key>
								<string>Dictionary Value</string>
							</dict>
						</dict>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefrommenu</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFMenuItemTitle</key>
				<string>Evento</string>
				<key>GroupingIdentifier</key>
				<string>7A176DF4-4ED9-4CA5-99EA-29FE4CD0A513</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.downloadurl</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFURL</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>string</key>
						<string>https://app.padelaso.com/api/shortcut/options?token=￼</string>
						<key>attachmentsByRange</key>
						<dict>
							<key>{52, 1}</key>
							<dict>
								<key>OutputUUID</key>
								<string>24019B7B-4D62-44BC-A0B3-7F6416D82FAB</string>
								<key>Type</key>
								<string>ActionOutput</string>
								<key>OutputName</key>
								<string>Text</string>
							</dict>
						</dict>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>UUID</key>
				<string>0E3A65BE-889F-4EB0-BCC9-BE931750CDC1</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getvalueforkey</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>33CE7705-AB11-4090-879A-2DD683DE958A</string>
				<key>WFDictionaryKey</key>
				<string>error</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputUUID</key>
						<string>0E3A65BE-889F-4EB0-BCC9-BE931750CDC1</string>
						<key>Type</key>
						<string>ActionOutput</string>
						<key>OutputName</key>
						<string>Contents of URL</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>CF6189E8-4FA6-4C47-BCC7-CF5376A1BD14</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFCondition</key>
				<integer>101</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputUUID</key>
							<string>33CE7705-AB11-4090-879A-2DD683DE958A</string>
							<key>Type</key>
							<string>ActionOutput</string>
							<key>OutputName</key>
							<string>Dictionary Value</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getvalueforkey</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputUUID</key>
						<string>0E3A65BE-889F-4EB0-BCC9-BE931750CDC1</string>
						<key>Type</key>
						<string>ActionOutput</string>
						<key>OutputName</key>
						<string>Contents of URL</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>UUID</key>
				<string>A83F48C9-13C8-4025-B29C-FFA06D1C88F9</string>
				<key>WFDictionaryKey</key>
				<string>eventOptions</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefromlist</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputUUID</key>
						<string>A83F48C9-13C8-4025-B29C-FFA06D1C88F9</string>
						<key>Type</key>
						<string>ActionOutput</string>
						<key>OutputName</key>
						<string>Dictionary Value</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>UUID</key>
				<string>0012A5AD-0FB3-410D-AFC0-84FE577027D9</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputUUID</key>
						<string>0012A5AD-0FB3-410D-AFC0-84FE577027D9</string>
						<key>Type</key>
						<string>ActionOutput</string>
						<key>OutputName</key>
						<string>Selected Item</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFVariableName</key>
				<string>evento</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getvalueforkey</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputUUID</key>
						<string>0E3A65BE-889F-4EB0-BCC9-BE931750CDC1</string>
						<key>Type</key>
						<string>ActionOutput</string>
						<key>OutputName</key>
						<string>Contents of URL</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>UUID</key>
				<string>83BD95B2-AEE1-4C98-BD24-18CC9C83061B</string>
				<key>WFDictionaryKey</key>
				<string>playerOptions</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefromlist</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputUUID</key>
						<string>83BD95B2-AEE1-4C98-BD24-18CC9C83061B</string>
						<key>Type</key>
						<string>ActionOutput</string>
						<key>OutputName</key>
						<string>Dictionary Value</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>UUID</key>
				<string>4B09328A-A64D-4D62-B0F1-12A73F004DE9</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputUUID</key>
						<string>4B09328A-A64D-4D62-B0F1-12A73F004DE9</string>
						<key>Type</key>
						<string>ActionOutput</string>
						<key>OutputName</key>
						<string>Selected Item</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFVariableName</key>
				<string>jugador</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.downloadurl</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFHTTPHeaders</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>Content-Type</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>application/json</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
				<key>ShowHeaders</key>
				<true/>
				<key>UUID</key>
				<string>1C8134C3-2524-4BE1-A4C3-613D98E981D1</string>
				<key>WFURL</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>string</key>
						<string>https://app.padelaso.com/api/events?token=￼</string>
						<key>attachmentsByRange</key>
						<dict>
							<key>{42, 1}</key>
							<dict>
								<key>OutputUUID</key>
								<string>24019B7B-4D62-44BC-A0B3-7F6416D82FAB</string>
								<key>Type</key>
								<string>ActionOutput</string>
								<key>OutputName</key>
								<string>Text</string>
							</dict>
						</dict>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFJSONValues</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>eventOption</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>￼</string>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>VariableName</key>
												<string>evento</string>
												<key>Type</key>
												<string>Variable</string>
											</dict>
										</dict>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>playerOption</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFItemType</key>
								<integer>0</integer>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>￼</string>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>VariableName</key>
												<string>jugador</string>
												<key>Type</key>
												<string>Variable</string>
											</dict>
										</dict>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
				<key>WFHTTPMethod</key>
				<string>POST</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getvalueforkey</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>702052AE-F0F9-4497-97A5-D4914F7A67BF</string>
				<key>WFDictionaryKey</key>
				<string>error</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputUUID</key>
						<string>1C8134C3-2524-4BE1-A4C3-613D98E981D1</string>
						<key>Type</key>
						<string>ActionOutput</string>
						<key>OutputName</key>
						<string>Contents of URL</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>B02AA634-9521-4BC8-B09C-5DF08B006738</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFCondition</key>
				<integer>101</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>OutputUUID</key>
							<string>702052AE-F0F9-4497-97A5-D4914F7A67BF</string>
							<key>Type</key>
							<string>ActionOutput</string>
							<key>OutputName</key>
							<string>Dictionary Value</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>B02AA634-9521-4BC8-B09C-5DF08B006738</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getvalueforkey</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>785D9799-3698-471F-BAD0-A6085F1B1822</string>
				<key>WFDictionaryKey</key>
				<string>spoken</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputUUID</key>
						<string>1C8134C3-2524-4BE1-A4C3-613D98E981D1</string>
						<key>Type</key>
						<string>ActionOutput</string>
						<key>OutputName</key>
						<string>Contents of URL</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.alert</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFAlertActionTitle</key>
				<string>Padelaso</string>
				<key>WFAlertActionMessage</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>string</key>
						<string>￼</string>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputUUID</key>
								<string>785D9799-3698-471F-BAD0-A6085F1B1822</string>
								<key>Type</key>
								<string>ActionOutput</string>
								<key>OutputName</key>
								<string>Dictionary Value</string>
							</dict>
						</dict>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFAlertActionCancelButtonShown</key>
				<false/>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>B02AA634-9521-4BC8-B09C-5DF08B006738</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>CF6189E8-4FA6-4C47-BCC7-CF5376A1BD14</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getvalueforkey</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>CED1036E-F941-4534-AD93-E93CC35B106E</string>
				<key>WFDictionaryKey</key>
				<string>spoken</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputUUID</key>
						<string>0E3A65BE-889F-4EB0-BCC9-BE931750CDC1</string>
						<key>Type</key>
						<string>ActionOutput</string>
						<key>OutputName</key>
						<string>Contents of URL</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.alert</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFAlertActionTitle</key>
				<string>Padelaso</string>
				<key>WFAlertActionMessage</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>string</key>
						<string>￼</string>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputUUID</key>
								<string>CED1036E-F941-4534-AD93-E93CC35B106E</string>
								<key>Type</key>
								<string>ActionOutput</string>
								<key>OutputName</key>
								<string>Dictionary Value</string>
							</dict>
						</dict>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFAlertActionCancelButtonShown</key>
				<false/>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>CF6189E8-4FA6-4C47-BCC7-CF5376A1BD14</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefrommenu</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>672313E1-2843-4E1B-9280-0C9F8D832876</string>
				<key>GroupingIdentifier</key>
				<string>7A176DF4-4ED9-4CA5-99EA-29FE4CD0A513</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
	</array>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFAppContentItem</string>
		<string>WFAppStoreAppContentItem</string>
		<string>WFArticleContentItem</string>
		<string>WFContactContentItem</string>
		<string>WFDateContentItem</string>
		<string>WFEmailAddressContentItem</string>
		<string>WFFolderContentItem</string>
		<string>WFGenericFileContentItem</string>
		<string>WFImageContentItem</string>
		<string>WFiTunesProductContentItem</string>
		<string>WFLocationContentItem</string>
		<string>WFDCMapsLinkContentItem</string>
		<string>WFAVAssetContentItem</string>
		<string>WFPDFContentItem</string>
		<string>WFPhoneNumberContentItem</string>
		<string>WFRichTextContentItem</string>
		<string>WFSafariWebPageContentItem</string>
		<string>WFStringContentItem</string>
		<string>WFURLContentItem</string>
	</array>
	<key>WFWorkflowImportQuestions</key>
	<array>
		<dict>
			<key>ActionIndex</key>
			<integer>0</integer>
			<key>Category</key>
			<string>Parameter</string>
			<key>ParameterKey</key>
			<string>WFTextActionText</string>
			<key>Text</key>
			<string>Pega tu token de Padelaso. Cópialo desde app.padelaso.com. Solo tendrás que cambiarlo si lo regeneras o revocas.</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
	</array>
	<key>WFWorkflowTypes</key>
	<array>
		<string>Watch</string>
		<string>WFWorkflowTypeShowInSearch</string>
	</array>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowName</key>
	<string>Padelaso</string>
</dict>
</plist>
